/*Wildcard selector*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    background-color: peachpuff;
}

/* Main */
main{
    background-color: greenyellow;
}

/* Footer */
footer{
    background-color: orangered;
}