/*Wildcard selector*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Styles*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color:#3a3a3a;
    font-family: Lato, sans-serif;
}

/* Header */
header{
    background-color: peachpuff;
}

h1{
    font-family: Oswald, sans-serif ;
}

/* Main */
main{
    background-color: greenyellow;
    /*Makes main section stretch and push footer down*/
    flex: 1 0 auto;

}

/* Footer */
footer{
    background-color: orangered;
}

h1{
    
}